
services:
  mqtt-broker:
    image: eclipse-mosquitto:2.0.14
    ports:
      - "1883:1883"
    configs:
      - source: mqtt-broker-config
        target: /mosquitto/config/mosquitto.conf

  mysql:
    image: mysql:latest
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=myuser
      - MYSQL_DATABASE=mqtt-broker-app
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mysecret
    ports:
      - "3306:3306"

  adminer:
    image: adminer:latest
    ports:
      - "8081:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=mysql

  comp-a:
    image: cr.siemens.com/ssp-self-evolving-software/hypothesis-track/components/comp-a/comp-a:latest
    environment:
      - QCLIENT_BROKER_HOST=mqtt-broker
      - QCLIENT_BROKER_PORT=1883
      - DATAPROVIDER_TOPIC=sample/message
    command:
      - "sh"
      - "-c"
      #feel free to add the --wait-for-client flag .. then the container will wait for debugger to attach before running
      - |
        pip install debugpy -t /tmp \
        && python /tmp/debugpy --listen 0.0.0.0:5678 \
        -m dataprovider.core
    ports:
      - "5678:5678"
    depends_on:
      - mqtt-broker
    # Uncomment the following lines to enable development mode with file watching
    # develop:
    #   watch:
    #     - path: /home/ubuntu/git/gamesa/components/comp-a/dataprovider
    #       target: /dataprovider/
    #       action: sync+restart

  comp-b:
    image: cr.siemens.com/ssp-self-evolving-software/hypothesis-track/components/comp-b/comp-b:latest
    environment:
      - DATACOLLECTOR_STORAGE=mysql
      - QCLIENT_BROKER_HOST=mqtt-broker
      - QCLIENT_BROKER_PORT=1883
      - STORAGE_MYSQL_HOST=mysql
      - STORAGE_MYSQL_PORT=3306
      - STORAGE_MYSQL_DB=mqtt-broker-app
      - STORAGE_MYSQL_USER=myuser
      - STORAGE_MYSQL_PASS=mysecret
    command:
      - "sh"
      - "-c"
      #feel free to add the --wait-for-client flag .. then the container will wait for debugger to attach before running
      - |
        pip install debugpy -t /tmp \
        && python /tmp/debugpy --listen 0.0.0.0:5678 \
        -m datacollector.core
    ports:
      - "5679:5678"
    depends_on:
      - mqtt-broker
      - mysql

  comp-c:
    image: cr.siemens.com/ssp-self-evolving-software/hypothesis-track/components/comp-c/comp-c:latest
    #image: mycomp-c:latest
    environment:
      - DATACOLLECTOR_STORAGE=mysql
      - STORAGE_MYSQL_HOST=mysql
      - STORAGE_MYSQL_PORT=3306
      - STORAGE_MYSQL_DB=mqtt-broker-app
      - STORAGE_MYSQL_USER=myuser
      - STORAGE_MYSQL_PASS=mysecret
    command:
      - "sh"
      - "-c"
      #feel free to add the --wait-for-client flag .. then the container will wait for debugger to attach before running
      - |
        pip3 install debugpy -t /tmp \
        && python3 /tmp/debugpy --listen 0.0.0.0:5678 \
        -m datavisualizer.core --multiprocess -m flask run -h 0.0.0.0 -p 5000
    ports:
      - "8080:5000"
      - "5680:5678"
    depends_on:
      - mysql


configs:
  mqtt-broker-config:
    content: |
      per_listener_settings false
      listener 1883
      allow_anonymous true