apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
spec:
  values:
    config:
      existingSecret: oauth2-proxy-auth
    extraArgs:
      provider: "entra-id"
      scope: "openid email profile"
      oidc-issuer-url: "https://login.microsoftonline.com/38ae3bcd-9579-4fd4-adda-b42e1495d55a/v2.0"
      redirect-url: https://oauth2-proxy.${cluster_domain}/oauth2/callback
      whitelist-domain: ".${cluster_domain}"
      cookie-domain: ".${cluster_domain}"
      set-authorization-header: true
      pass-authorization-header: true
      set-xauthrequest: true
      skip-auth-strip-headers: false
      pass-user-headers: true
      bearer-token-login-fallback: true
    sessionStorage:
      type: redis
    redis:
      enabled: true
      replicas: 2
      persistentVolume:
        enabled: false
    ingress:
      enabled: true
      className: nginx
      hosts:
        - oauth2-proxy.${cluster_domain}
  interval: 1m0s
  install:
    remediation:
      retries: 3